.container {
  width: 15rem;
  height: 15rem;
  padding: 0.2rem;
  margin: 0.2rem;
  padding-bottom: 5rem;
}

.text-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}
